<h2>Update / Delete Comment</h2>
<h3>For Movie: {{newComment.movie.title}}</h3>
<div id="comment-form">
    <form id="comment">
        <label for="comment-text">Comment</label>
        <textarea name="comment-text" id="comment-text" cols="100" rows="10">{{newComment.comment}}</textarea>
        <button type="button" id="upBtn">Update</button>
        <button type="button" id="delBtn">Delete</button>
    </form>

</div>

<script src="/js/comment.js"></script>