<div class="bg-red-500">
    <p class="bg-slate-500">hello</p>
    <button class="bg-cyan-500 hover:bg-cyan-600 ">Subscribe</button>
    <button class="bg-indigo-500 ...">
  Save changes
</button>
</div>
