
<body class="bg-gray-100 p-8">

    <div class="text-center mb-4">
        <h1 class="text-3xl font-bold">Popular Movies</h1>
    </div>

    <div class="text-center flex flex-wrap mx-4 movie-section" id="popularMoviesSection">
    </div>

    <div class="text-center mb-4">
        <h1 class="text-3xl font-bold">Top Movies</h1>
    </div>

    <div class="flex flex-wrap -mx-4 movie-section" id="topMoviesSection">
    </div>

    <script src="/js/home.js"></script>
</body>

