<section class="">
    <div class="">
        <h1>Log In</h1>
    </div>
    <div class="">
        <form class="login-form">
            <div>
                <label for="email-login">E-mail</label>
                <input type="text" class="" id="email-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="" id="password-login" />
            </div>
            <div>
                <button type="submit" class="">Log In!</button>
            </div>
        </form>
    </div>
</section>

<script src="/javascript/login.js"></script>