<section class="">
    <div class="">
        <h1>Sign Up</h1>
    </div>
    <div class="form-section">
        <form class="signup-form">
            <div>
                <label for="name-signup">Name</label>
                <input type="text" id="name-signup" />
            </div>
            <div>
                <label for="email-signup">E-mail</label>
                <input type="text" class="" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Password</label>
                <input type="password" class="" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Sign Up!</button>
            </div>
        </form>
    </div>
</section>

<script src="/js/signup.js"></script>